<form [formGroup]="loginForm" (ngSubmit)="seConnecter()">
    <div class="login card-header container-fluid   ">
        <div class=" shadow flex-column">
            <div>
                <h1 class="mt-3">S'identifier</h1>
            </div>
            <p class="text-danger">{{message}}</p>
                <div class="mt-4 col-md-8">
                    <p [ngClass]="{ 'has-error': isSubmit && formControls['email'].errors }">
                        <input class="form-control" type="email" formControlName="email"   placeholder="email@gmail.com"
                            [ngClass]="{'is-invalid':formControls['email'].invalid && (formControls['email'].touched ||formControls['email'].dirty),
                            'is-valid':formControls['email'].valid && (formControls['email'].touched ||formControls['email'].dirty)
                        }"
                        >
                    </p>
                    <div *ngIf="isSubmit && formControls['email'].errors" class="help-block">
                        <div *ngIf="formControls['email'].hasError('required')"><font class="text-danger">L'email  doit être requis</font></div>
                      </div>
                </div>
                <div class="mt-4 col-md-8">
                    <p [ngClass]="{ 'has-error': isSubmit && formControls['password'].errors }">
                        <input  class="form-control" type="password" formControlName="password"  placeholder="password"
                        [ngClass]="{'is-invalid':formControls['password'].invalid && (formControls['password'].touched ||formControls['password'].dirty),
                        'is-valid':formControls['password'].valid && (formControls['password'].touched ||formControls['password'].dirty)
                    }"
                        >
                    </p>
                    <div *ngIf="isSubmit && formControls['password'].errors" class="help-block">
                        <div *ngIf="formControls['password'].hasError('required')"><font class="text-danger">Mot de passe doit être requis</font></div>
                      </div>
                </div>
                <div class="mt-4">
                    <button type="submit" class=" btn btn-primary">Se connecter</button>
                </div>
                <div class="mt-5"></div>
            </div>
        </div>
    </form>