.carde:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.3s ease-in-out;
    border: 2px solid;
    color: white;
    background-color: green;
  }
.modal-item{
  display: none;
}
::ng-deep .mat-paginator-range-label {
  display: none;
}
.text-size{
  font-size: 18px;
}